<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a href="index.html"><img class="logo"
           src="assets/img/logo-tec-blanco.png"
           alt="Logo ITESM"></a>
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"
             href="index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="#">Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="#">Plan de estudios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="programas-internacionales.html">Programas Internacionales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="practicas-profesionales.html">Prácticas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div id="carouselExampleIndicators"
       class="carousel slide"
       data-ride="carousel">
    <div class="carousel-inner"
         role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active">
        <div class="layer">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="slider-header"
                style="font-family:Verdana, Geneva, Tahoma, sans-serif">INT</h3>
            <p class="slider-text">Tecnológico de Monterrey Campus Monterrey</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <h1 class="my-4">Ingeniería en Negocios y Tecnologías de la Información</h1>

  <!-- Portfolio Section -->
  <div class="row">
    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top"
               src="assets/img/cards/1.jpg"
               alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#"> Información de la carrera</a>
          </h4>
          <p class="card-text">
            Aquí podrás ver el perfil de egresado de los estudiantes de esta Ingeniería, además de las diferentes áreas
            de trabajo en las cuales te puedes especializar.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top"
               src="assets/img/cards/2.jpg"
               alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Plan de estudios INT</a>
          </h4>
          <p class="card-text">
            Si deseas ver tu plan de estudios, revisa esta sección. Aquí puedes revisar cada una de tus materias, sus
            requisitos previos y el semestre recomendado para llevarlas.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="programas-internacionales.html"><img class="card-img-top"
               src="assets/img/cards/3.jpg"
               alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="programas-internacionales.html">Programas Internacionales</a>
          </h4>
          <p class="card-text">
            Aquí encontraras los requerimientos necesarios para poder irte un semestre o un año de intercambio para
            estudiar en otro país materias de tu especialidad.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="practicas-profesionales.html"><img class="card-img-top"
               src="assets/img/cards/4.jpg"
               alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="practicas-profesionales.html">Prácticas profesionales</a>
          </h4>
          <p class="card-text">En esta sección podrás revisar los pasos previos para poder realizar tus prácticas
            profesionales. Además de los documentos necesarios para acreditar tus horas de SSP. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Daniel Martinez 2018</p>
  </div>
  <!-- /.container -->
</footer>
